*{
  font-family: 'Montserrat', sans-serif;
}
a{
  text-decoration: none;
  transition: all 0.2s ease;
}
a:hover{
  color: #0AADFF;
}

.light-teme{
  background-color: white;
  color: #020B1F;
}
.light-teme a{
  color: #020B1F;
}

button{
  outline: none;
  border: none;
  cursor: pointer;
}

header{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 4%;
  padding-top: 10px;
  width: calc(92%);
}
header img{
  border-radius: 8%;
  cursor: pointer;
}
@media (max-width: 760px) {
  header{
    padding: 0px;
  }
}
nav{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
nav a {
  margin: 0px 5px;
  font-size: 18px;
  position: relative;
}
nav a:hover{
  color: #0AADFF;
}
nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #0AADFF;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.2s ease;
}
nav a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}



