@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap");
*{
  font-family: 'Montserrat', sans-serif;
  user-select: none;
  -webkit-user-drag: none;

}
html, body{
  margin: 0px;
}
a{
  text-decoration: none;
  transition: all 0.2s ease;
}
a:hover{
  color: #0AADFF;
}
button{
  outline: none;
  border: none;
  cursor: pointer;
}
img{
  -webkit-user-drag: none;
  user-select: none;
}
p, h1, h2,h3,h4,h5,h6{
  margin: 0px;
}
.forPh{
  display: none;
}



.light-teme{
  background-color: white;
  color: #020B1F;
}
.light-teme a{
  color: #020B1F;
}





header{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 4%;
  width: 92%;
  position: relative;
  z-index: 1000;
  background-color: white;
  z-index: 1000;
}
header img{
  border-radius: 8%;
  cursor: pointer;
}
nav{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
nav a {
  margin: 0px 5px;
  font-size: 18px;
  position: relative;
}
nav a:hover{
  color: #0AADFF;
}
nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #0AADFF;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.2s ease;
}
nav a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.phoneNav{
  display: none;
}


.hero{
  position: relative;
  top: 0;
  left: 0;
  height: calc(100vh - 60px);
  width: 100%;
  z-index: 0;
  overflow: hidden;
  background-color: #ffffff33;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.hero .content{
  padding: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
@media (min-width: 1400px) and (max-width: 1620px) {
  .hero .content{
    flex-wrap: nowrap;
  }
}
@media (min-width: 1000px) and (max-width: 1399px) {
  .hero .content{
    flex-wrap: wrap;
  }
  .video-div{
    width: 70%;
  }
}
.BiR{
  /*Button i Recenzije*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
}
.recenzije{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5px;
}
.hero .content .zvezdice p{
  font-size: 14px;
  font-weight: 500;
}
.video-div{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  border-radius: 20px;
  overflow: hidden;
  width: 50%;
}
.video{
  border-radius: 20px;
  margin-top: 20px;
  height: 98%;
  width: 100%;
}
.hero h1{
  font-size: 60px;
  font-weight: 600;
}
.hero p{
  font-size: 20px;
  font-weight: 400;
  color: #002E45;
}

.vektori{
  position: absolute;
  top: -150;
  right: -50;
  z-index: -50;
  transform: rotate(353deg) scale(1);
}


.info{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  margin-top: 60px;
}
.kolona{
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 45%;
  min-width: 350px;
  margin-bottom: 50px;
}
.stavka{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.stavka p{
  margin-left: 20px;
}
.kolona h2{
  font-weight: 200;
  font-size: 40px;
  line-height: 70px;
  letter-spacing: 0%;
}
.nadNaslov{
  display: flex;
  align-items: center;
  font-size: 24px;
}




.info2{
  display: flex;
  flex-direction: row;
  width: 86%;
  flex-wrap: nowrap;
}
@media (max-width: 999px){
  .info2{
    flex-wrap: wrap;
  }
  .kolona2 h2{
    font-size: 35px;
  }
}
.kolona2 {
  width: 60%;
}
.kolona2 .nadNaslov{
  font-weight: 500;
}
.kolona2 h2{
  font-size: 44px;
  font-weight: 300;
}
.kolona3{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.stat{
  width: 30%;
  border-left: 1px solid #0AADFF;
  padding: 10px;
  margin: 10px;
}
.stat p{
  font-size: 40px;
  font-weight: 300;
}



.kartice{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 60px;
}
.kartica{
  display: flex;
  position: relative;
  margin-top: 30px;
  margin-right: 2%;
  width: 490px;
  height: 310px;
  border-radius: 25px;
  background: linear-gradient(30deg, #73D4FF 45%, #0088E5 75%);
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.692));
  transition: transform 200ms ease-in;
}
.kartica:hover{
  transform: scale(1.08);
}
.broj{
  font-family: 'Poppins', sans-serif;
  position: absolute;
  font-weight: 600;
  font-size: 180px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #0AADFF;
  top: 25px;
  left: 40px;
}
.kartica .content{
  position: absolute;
  width: calc(100% - 80px);
  height: auto;
  border-radius: 25px;
  background-color: white;
  bottom: 0;
  padding: 40px;
}
.kartice h2{
  font-size: 56px;
  font-weight: 300;
}
.kartica .content p{
  font-size: 26px;
  font-weight: 500;
}
.kartica .content span{
  font-size: 20px;
  font-weight: 400;
}

.testemonials {
  background-color: #03153E;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  max-width: 500px;
  min-width: 320px;
  max-width: calc(100% - 60px);
  margin: 10px 0;
  padding: 15px;
  position: relative;
  overflow: hidden;
  height: 400px;
  border-radius: 20px;
}
@media(min-width: 1500px){
  .testemonials{
    width: 50%;
  }
}
.testemonials-div {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 90%;
  position: relative;
  gap: 30px;
  height: 100%;
}

.testemonial {
  min-width: 250px;
  max-width: 250px;
  height: 332px;
  font-size: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  transition: all 0.5s ease;
  opacity: 0;
  transform: scale(0.8);
  z-index: 0;
}

.testemonial.active {
  opacity: 1;
  transform: scale(1);
  z-index: 10;
}

.testemonial.prev {
  opacity: 0.5;
  transform: scale(0.85) translateX(-200px);
  z-index: 5;
}

.testemonial.next {
  opacity: 0.5;
  transform: scale(0.85) translateX(200px);
  z-index: 5;
}

.testemonial.hidden {
  display: none;
}

.testemonial .user {
  border-top: 1px solid #C6CED3;
  padding-top: 10px;
}

.strelicaR, .strelicaL {
  position: absolute;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  filter: drop-shadow(0 2px 10px rgba(0, 0, 0, 0.6));
}

.strelicaL {
  left: 10px;
  transform: translateY(-50%) rotate(180deg);
}

.strelicaR {
  right: 10px;
}
.dec1 {
  position: absolute;
  min-width: 70%;
  height: 300px;
  background: radial-gradient(circle at 72.81% 77.52%, #23ddcd96 0%, #4eebb04d 40%, #aaefd900 80%);
  border-radius: 50%;
  pointer-events: none;
  z-index: 1;
  left: -15%;

}
.dec2 {
  position: absolute;
  min-width: 40%;
  height: 300px;
  background: radial-gradient(circle at 72.81% 77.52%, #23ddcd96 0%, #4eebb04d 40%, #aaefd900 80%);
  border-radius: 50%;
  pointer-events: none;
  z-index: 1;
  left: 30%;
  top: 50%;
  transform: rotate(-55deg);
}
.dec3{
  background: radial-gradient(158.99% 50% at 87.54% -23.27%, #8B78FF 0%, rgba(99, 73, 255, 0.37) 100%);
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1;
  right: -5%;
  top: 5%;
  min-width: 40%;
  min-height: 350px;
}

.blur{
  min-width: 100%;
  min-height: 100%;
  backdrop-filter: blur(150px);
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}


.faq{
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.faq h2{
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 10px;
}
.faq-block {
  margin-top: 20px;
  border: 1px solid #D8D8D8;
  border-radius: 10px;
  width: 50%;
  padding: 10px;
  transition: all 200ms ease-in;
}
.faq-block p{
  font-size: 16px;
}
.pitanje{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.odgovor {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: all 0.3s ease;
}

.odgovor.open {
  max-height: 500px;
  opacity: 1;
  margin-top: 20px;
}


@media (max-width: 999px) {
  .forPC{
    display: none;
  }
  .forPh{
    display: block;
  }
  nav{
    display: none;
  }
  .phoneNav {
    position: absolute;
    left: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.4);
    z-index: 999;
    transition: max-height 0.3s ease, padding 0.3s ease;
  }
  .phoneNav a{
    margin: 5px 0px;
    font-size: 20px;
    font-weight: 500;
    position: relative;
  }
  .phoneNav a:hover{
    color: #0AADFF;
  }
  .phoneNav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #0AADFF;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.2s ease;
  }
  .phoneNav a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .phoneNav.open {
    max-height: 300px;
    padding: 10px 0;
    transition: all 0.2s ease-in;
  }


  .hero{
    height: 800px;
  }
  .hero .content{
    width: 100%;
    padding: 5px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .BiR{
    max-width: 400px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .recenzije{
    margin-top: 8px;
    flex-wrap: wrap;
  }
  .video-div{
    width: 70%;
  }
  .video{
    width: 97%;
    height: auto;
  }
  .vektori{
    top: -20;
    transform: rotate(350deg);
  }
  .hero .content h1{
    font-size: 35px;
    text-align: center;
  }
  .hero .content p{
    font-size: 14px;
    text-align: center;
  }


  .info{
    margin-top: -30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 95%;
  }
  .kolona{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 45%;
    min-width: 350px;
    margin-bottom: 50px;
  }
  .stavka{
    margin-top: 20px;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .stavka p{
    margin-left: 20px;
  }
  .kolona h2{
    font-weight: 200;
    font-size: 30px;
    letter-spacing: 0%;
    line-height: 1.2;
  }
  .nadNaslov{
    font-size: 20px;
  }


  .kolona2, .kolona3{
    min-width: 100%;
  }
  .kolona3{
    margin-top: 10px;
  }
  .stat{
    width: 35%;
    margin: 5px;
  }



  .kartica{
    display: flex;
    position: relative;
    margin-top: 30px;
    margin-right: 2%;
    width: 490px;
    height: 310px;
    border-radius: 25px;
    background: linear-gradient(30deg, #73D4FF 45%, #0088E5 75%);
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.692));
    transition: transform 200ms ease-in;
  }
  .kartica:hover{
    transform: scale(1.08);
  }
  .broj{
    font-family: 'Poppins', sans-serif;
    position: absolute;
    font-weight: 600;
    font-size: 180px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #0AADFF;
    top: 25px;
    left: 40px;
  }
  .kartica .content{
    width: calc(100% - 50px);
    padding: 25px;
  }
  .kartice h2{
    font-size: 35px;
    font-weight: 300;
  }
  .kartica .content p{
    font-size: 26px;
    font-weight: 500;
  }
  .kartica .content span{
    font-size: 19px;
    font-weight: 400;
  }


  .faq-block{
    width: 90%;
  }
  .faq h2{
    font-size: 35px;
    text-align: center;
  }
}


/*
druga opcija za header

  .phoneNav {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -100;
    opacity: 0;
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    padding: 0;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.4);
    transform: scale(0.9);
    transition: transform 0.4s ease, opacity 0.4s ease-in-out;
  }
  .phoneNav a {
    margin: 5px 0px;
    font-size: 20px;
    font-weight: 500;
    position: relative;
  }
  .phoneNav a:hover {
    color: #0AADFF;
  }
  .phoneNav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #0AADFF;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.2s ease;
  }
  .phoneNav a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .phoneNav.open {
    max-height: 100vh;
    height: 100vh;
    z-index: 1001;
    opacity: 1;
    padding: 200px 0;
    transform: scale(1);
    transition: transform 0.4s ease, opacity 0.4s ease-in-out;
  }

*/