.button1,
.button2 {
    font-family: 'Montserrat Alternates', sans-serif;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    transition: background-position 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.button1 {
    background: linear-gradient(60deg, #0AADFF 6.25%, #0a7eb8 40.25%, #0088E5 50%, #123484 80.25%);
    background-position: left center;
    background-size: 200% 100%;
    color: white;

}
.button1:hover {
    background-position: right center;
}
.button2 {
    background: linear-gradient(120deg, #0AADFF 6.25%, #0a7eb8 40.25%, #0088E5 50%, #123484 80.25%);
    background-position: right center;
    background-size: 200% 100%;
    color: white;
}
.button2:hover {
    background-position: left center;
}


@media (max-width: 760px){
    .button1,
    .button2 {
        width: 179px;
        height: 57px;
    }
  }